<div id="content-header" class="content-header">
	<h2>Sobre Fubica</h2>
	<div id="about-container" >
		<div id="comment-item" class="comment-item">
			<div id="comment" class="comment">
				<div class="comment-content">
					<div class="comment-header">
						<a><img class="avatar" src="assest/logo_institucional.jpg" /> <strong
							class="fullname">
								Fubica
						</strong>
						</a>
						<p class="message-text">
						Nuestra tarea es ofrecer contenido sobre datos y estadísticas deportivas del Fútbol Argentino en tiempo real.
						Podrá visualizar fixture de los diferentes torneos, los resultados de los partidos, la tabla de clasificaciones y 
						diferentes estadísticas.
						<img  src="assest/logo_institucional.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
