<div id="content-header" class="content-header">
	<h2>Sobre Fubica</h2>
	<div id="about-container" >
		<div id="comment-item" class="comment-item">
			<div id="comment" class="comment">
				<div class="comment-content">
					<div class="comment-header">
						<a> <img class="avatar" src="assest/avatar/avatar.jpg" /> <strong
							class="fullname">
								Fubica
						</strong>
						</a>
						<p class="message-text">
							Fubica es una empresa bla bla bla.....
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>