<div id="header" class="header">
	<div class="topbar">
		<div class="nav">
			<div class="container">
				<ul id="global-actions" class="nav">
					<li id="global-nav-home" class="active"><a  href="#" > 
					<span class="new-wrapper"><i class="nav-home"></i></span>Inicio
					</a></li>
					<li id="global-nav-tournament" class=""><a href="#" > 
					<span class="new-wrapper"><i class="nav-tournament"></i></span>Torneo
					</a></li>
					<li id="global-nav-fixture"><a
						 href="#" > <span class="new-wrapper"><i class="nav-fixture"></i></span>Resultados
					</a></li>
					<li id="global-nav-statics"><a href="#" > <span class="new-wrapper"><i class="nav-statics"></i></span>Estadísticas
					</a></li>
					<li id="global-nav-comment"><a data-nav="home"
						 href="#" > <span class="new-wrapper"><i class="nav-home"></i></span>Comentarios
					</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>