<div class="module">
	<ul class="js-nav-links">
		<li class="first-link active"><a id="about"
			class="list-link">Primera division<i class="chev-right"></i>
		</a>
		</li>
		<li class=""><a id="contacts" 
			class="list-link">Nacional B<i class="chev-right"></i>
		</a>
		</li>
		<li class=""><a id="price" 
			class="list-link">Primera B<i class="chev-right"></i>
		</a>
		</li>
		<li class=""><a data-nav="notifications" class="list-link">Notificaciones <i
				class="chev-right"></i>
		</a>
		</li>
		<li class=""><a data-nav="profile" 
			class="list-link">Argentino<i class="chev-right"></i>
		</a>
		</li>
	</ul>
</div>
