<div class="module">
	<ul class="js-nav-links">
		<li class="first-link active"><a id="divisionA"
			class="list-link">Primera division<i class="chev-right"></i>
		</a>
		</li>
		<li class=""><a id="divisionB" 
			class="list-link">Nacional B<i class="chev-right"></i>
		</a>
		</li>
		<li class=""><a id="divisionB2" 
			class="list-link">Primera B<i class="chev-right"></i>
		</a>
		</li>
	</ul>
</div>
<script type="text/javascript">
	var tournament = new TournamentMenu();
	tournament.bindEvents();
</script>
